/* CSS Reset */
* {
    margin: 0;
    padding: 0;
}

img {
    border: none;
}

html, body {
    height: 100%;
}

body {
    background-color: #FFF;
    color: #555e58;
    font: 16px Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

h1 {
    margin-bottom: 10px;
}

p {
    margin: 10px 0;
}

a {
    color: #a5db59;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* HomePage */

.header-wrapper {
    background: #a5db59;
}

.logo img {
    width: 140px;
}

#menu {
    position: relative;
    bottom: 10px;
    display: inline;
}

#menu a {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
}

.header,
.content,
.footer {
    width: 960px;
    margin: 0 auto;
    text-align: left;
}

.main {
    padding: 20px 10px;
    text-align: justify;
}

.main h2 {
    font-size: 20px;
}

.footer {
    border-top: 2px solid #e2e2e2;
    color: #555e58;
    text-align: center;
}


.footer a {
    font-weight: bold;
    color: #555e58;
    margin-right: 10px;
    white-space: nowrap;
    padding: 15px 0;
}

.social-buttons {
    padding-top: 20px;
}

.post li,
.post p {
    line-height: 1.75em;
}

#disqus_thread {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 2px solid rgba(0,49,79,.08);
    
}

@media (max-width: 960px) {
    .header,
    .content,
    .footer, p {
        width: 100%;
    }
}

@media (max-width: 480px) {

    body {
        min-width: 320px;
    }

    .header {
        text-align: center;
    }

    #menu {
        position: static;
        display: block;
    }

    .footer a {
        display: block;
        width: 100%;
        padding: 5px 0;
    }
}
