<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>
        <div class="site">
          <div class="header">
            <a href="/" class="logo"><img src="/images/logo.png" alt="Speroteck Inc." /></a>
            <a class="extra" href="/news">News</a>
            <a class="extra" href="/projects.html">Projects</a>
            <a class="extra" href="/about.html">About</a>
            <a class="extra" href="/contribute.html">Contribute to Blog</a>
          </div>
          <div id="content">
            {{ content }}
          </div>
          <div class="footer">
            <div class="contact">
              <p>
                Speroteck Inc.<br />
                Software development<br />
                dev@speroteck.com
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/speroteck">github.com/speroteck</a><br />
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
